/* imports */
@import './App.css';
@import './mega_menu.css';
@import './resuable.css';
@import './product.css';

/* ==================================== */
/* reset all the default css  */
* , *::after , *::before { 
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}
/* ==================================== */

body , html {
    overflow-x: hidden;
    color: black;
}

/* .ant-spin-dot-item {
    background-color: rgb(240, 234, 234);
  } */